{% load staticfiles %} 
<head>
<meta charset="utf-8">
<title> deleted </title>
</head>
<body  background= "{% static "images/2.jpg" %}" alt="Picture of book"   >
<h1 align='center'>图书管理删完</h1>

    <p>     图书目录如下：   <form action='/showlist' >
<p> <input type='submit' value='返回上一页'/> </p> 
</form></p>
      {% if  allbook %}
        
     <table border='1'>
       <tr >  <td>  <FONT face=黑体 color=blue size=4> 图书目录如下</FONT> ：</td>
              <td colspan="2">   <FONT face=黑体 color=blue size=4> 操作如下</FONT></td>
            
       </tr> 
           {% for book  in  allbook%}
          <tr>  
              <td> <a  href='detail/{{book.title}}'>{{book.title}} </td>
              <td><a  href='delete/{{book.title}}'>  删除 </a></td>
              <td><a  href= 'redo/{{book.title}}'>  更新 </a>           </td>
           </tr>  
            {% endfor%}
      </table> 
  
		  {%endif%} 
    
</body>
</html>