{% load staticfiles %}
<head>
<meta charset="utf-8">
<title>gosearch</title>
</head>
<body  background= "{% static "images/2.jpg" %}" alt="Picture of book"   >
<h1 align='center'><FONT face=黑体 color=blue >图书检索 </FONT></h1>
<hr/>
<form   align='center' action='search' method='get'>
<p> <FONT face=黑体 color=blue size=4> 输入作者名称：</FONT><input type='text' name='authorname'/>  <input type='submit' value='查询'/> </p>
</form>
<form  align='center' action= '/' >
<p> <input type='submit' value='返回上一页'/> </p> 
</form>









</body>
</html>